@{
    Layout = "~/Views/Shared/_Layout.cshtml";
      ViewData["Title"] =  "Claim job";
}
﻿@*Replace .NET action with AJAX*@
<script>
    $(document).ready(function () {
        $(".claimForm").submit(function (event) {
            event.preventDefault();
            console.log($(this).serialize());
            $.ajax({
                url: '@Url.Action("Claim")',
                type: 'POST',
                dataType: 'json',
                data: $(this).serialize(),
                success: function (result) {
                    console.log(result);
                }
            });
        });
    })
</script>
@model MrFixIt.Models.Job

<h2>Would you like to do this job?</h2>
<hr />
@*@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.JobId)
    @Html.HiddenFor(model => model.Title)
    @Html.HiddenFor(model => model.Description)

}*@
<h4>@Model.Title</h4>
<form action="Claim" class="claimForm">
    <input type="hidden" name="jobId" value="@Model.JobId" />
    <input type="hidden" name="userName" value="@User.Identity.Name" />
    <button type="submit" value="Claim This Job" class="btn btn-success">Claim</button>
</form>
<p>@Html.ActionLink("Back to list", "Index")</p>
