@* Fix consistency issues *@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
      ViewData["Title"] =  "Create Job";
}

@model MrFixIt.Models.Job

    <h2>Create new Job</h2>
        <hr />
        <h4>Add a new job</h4>
        @using (Html.BeginForm())
        {
           <div class="small-12 columns">
            @Html.LabelFor(model => model.Title)
            @Html.TextBoxFor(model => model.Title, new { @required = "true" })
            <p class="help-text">Add a title for your new job</p>
            </div>
            <div class="small-12 columns">
            @Html.LabelFor(model => model.Description)
            @Html.TextBoxFor(model => model.Description, new { @required = "true" })
            <p class="help-text">Add a Description for your new job</p>
            </div>
            <input type="submit" value="Add new job" class="success button" />
        }
        <p>@Html.ActionLink("Back to list", "Index")</p>
